.collapse-icon {
  margin-right: 10px;

  width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}

.collapse-icon:hover {
  cursor: pointer;
}

.collapse-icon .icon {
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}