<details [open]="stock.open" (toggle)="toggle($event)" #details>
  
<summary class="stock-card-summary" [class.selected]="stock.selected">
  
  <stock-symbol [symbol]="stock.symbol" [selected]="stock.selected" [sector]="stock.sector"></stock-symbol>	
  
</summary>
<span>
<div class="stock-card"  #body [class.selected]="stock.selected" >
  <span>
      <input type="checkbox" class="visited-checkbox" [(ngModel)]="stock.selected" (click)="toggleSelect($event)"/>
      <stock-symbol [symbol]="stock.symbol"></stock-symbol>
      <span class="sector">({{stock.sector}})</span>
      
  </span>
  <span class="close-card">
  <svg (click)="hide()" 
     
    width="14" height="14" 
    viewBox="0 0 24 24"
  >
    <path 
      d="M6 15l6-6 6 6" 
      fill="none" 
      stroke="#6b7280" 
      stroke-width="2.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
  </span>
  <div class="stock-row">
      <span class="stock-field" *ngFor="let attr_entry of stock.attributes"><stock-field [label]="`${getPropTitle(attr_entry[0])}`" [value]="attr_entry[1]"></stock-field></span>
  </div>
  <div class="buttons-row">
      <codcoda-button src_path="/button/icons/expand.svg" style="grid-row:1;grid-column:2" (clickEvent)="TradingView()" >Trading-View</codcoda-button>
  </div>
  <div class="visited-label">{{stock.selected?'Visited':'Not Visited'}}</div>
</div>
</span>
</details>  

