<details [open]="stock.open" (toggle)="toggle($event)" #details>
  
<summary class="stock-card-summary" [class.selected]="stock.selected">
  
  <stock-symbol [symbol]="stock.symbol" [selected]="stock.selected"></stock-symbol>	
</summary>
<span>
<div class="stock-card" (click)="collapse()" #body [class.selected]="stock.selected" >
  <span>
      <input type="checkbox" [checked]="stock.selected" (click)="toggleSelect($event)"/>
      <stock-symbol [symbol]="stock.symbol"></stock-symbol>
  </span>
  <codcoda-collapse-expand></codcoda-collapse-expand>
  <div class="stock-row">
    <span class="stock-field"><stock-field label="Entry:" [value]="stock.entry" [change]="'positive'"></stock-field></span>
    <span class="stock-field"><stock-field label="Stop:" [value]="stock.stop_loss"></stock-field></span>
    <span class="stock-field"><stock-field label="MA150:" [value]="stock.sma_150"></stock-field></span>
    <span class="stock-field"><stock-field label="Support:" [value]="stock.support"></stock-field></span>
    <span class="stock-field"><stock-field label="Rank:" [value]="stock.rank"></stock-field></span>
  </div>
  <div class="buttons-row">
      <codcoda-button style="grid-row:1;grid-column:2" (clickEvent)="TradingView()" >Trading-View</codcoda-button>
  </div>
</div>
</span>

</details>

