
.stock-card-list{
  --cols: 5;   /* פה קובע כמה בשורה */
  --gap: 40px;

  display:flex;
  flex-wrap:wrap;
  gap: 20px;
  max-width: 800px;
}

.stock-card-list > div{
  box-sizing: border-box;
  flex: 0 0 calc((100% - ( (var(--cols) - 1) * var(--gap) )) / var(--cols));
}
 .pattern:hover
 {
	cursor:pointer
 }
 .pattern
 {
	color: #252933;
	font-family: Roboto;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
 }
 
 