	<div >
		<h1 class="pattern" >{{pattern.pattern}} {{SelectionMessage()}}</h1>
		<codcoda-collapse-expand *ngIf="largeList()" (click)="toggle()"></codcoda-collapse-expand>
		<cod-download-button (click)="export_to_csv(false)"></cod-download-button>
		<cod-sort (sort)="sortStocks($event)" [sorted_attributes]="pattern.stocks[0].sorted_attributes" ></cod-sort>
		<cod-filter-from-list label="sector" field="sector" [options]="pattern.sectors"
		(filterBy)="sectorFilter($event)"
		></cod-filter-from-list>
	</div>
	<div class="stock-card-list">
		<div *ngFor="let stock of filtered_stocks()">
				<codcoda-stock-card [stock]="stock" ></codcoda-stock-card>
		</div>
	</div>

