
.stock-card-list
 {
 	display: flex;
 	flex-direction: row;
 	gap: 20px;
	flex-wrap: wrap;  
	max-width: 1900;  
 }
 .pattern:hover
 {
	cursor:pointer
 }
 .pattern
 {
	color: #252933;
	font-family: Roboto;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
 }
 
 