
<details class="panel" [open]="toggleOpen()">
	<summary class="summary">
            <span class="search-h2">## Search
                <input
          type="text"
          placeholder="Type ticker or criteria or 'marked' to see your selection..."
          class="search-input"
        />
        <button type="button" class="btn">
          Search
        </button>
        
    
           
          </span>
          <!--<div class="content"></div>-->

          </summary>
    <hr/>
</details>
    