<span class="label">Download csv 
</span>
<span class="icon">
	<svg xmlns="http://www.w3.org/2000/svg" width="10" height="13" viewBox="0 0 10 13" fill="none">
  			<path d="M8.71729 11.4453H0.853516" stroke="#0B9981" stroke-width="1.70701" stroke-linecap="round"/>
  			<path d="M4.71582 0.853516V6.7977" stroke="#0B9981" stroke-width="1.70701" stroke-linecap="round"/>
  			<path d="M1.69439 5.94387L4.68167 8.50439L7.66895 5.94387" stroke="#0B9981" stroke-width="1.70701" stroke-linecap="round" stroke-linejoin="round"/>
  	</svg>
</span>

