<h1>Standalone Angular + Syncfusion DataGrid</h1>
<ejs-grid [dataSource]="data" #grid
          width="1600" height="400"
          [allowSorting]="true"
          [allowResizing]="true"
          [enableColumnVirtualization]="false"
          (dataBound)="onDataBound()">

  <e-columns>
    <e-column field="select" headerText="Select" width="100" [template]="selectTemplate"></e-column>
    <e-column field="symbol" headerText="Symbol" width="100" [template]="symbolTemplate"></e-column>

    <ng-container *ngFor="let attribute of attributes">
      <e-column field="{{attribute}}" headerText="{{attribute}}" maxWidth="200" textAlign="Left"></e-column>
    </ng-container>
  </e-columns>

  <ng-template #symbolTemplate let-row>
    <button (click)="openTab(row)">{{row.symbol}}</button>
  </ng-template>

  <ng-template #selectTemplate let-row>
    <input type="checkbox" [checked]="row.select" (change)="toggleChange(row)" />
  </ng-template>
</ejs-grid>
	