.positive
{
	color:green
}
.negative
{
	color:red
}
.zero{
	color:black
}
.label {
    font-weight: 700;
    font-size: 14px;
    color: #000a04;
    margin-bottom: 4px;
  
    letter-spacing: 0.4px;
}
